<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lekebilen.quasseldroid" xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10" android:versionName="0.2.3">
  	<uses-sdk android:minSdkVersion="7" />
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:description="@string/description">



		<activity android:name=".gui.LoginActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".gui.PreferenceView"
			android:screenOrientation="sensor" android:label="@string/app_name">
		</activity>
		<activity android:name=".gui.ChatActivity"></activity>
		<activity android:name=".gui.BufferActivity" android:launchMode="singleTop"></activity>
		<service android:name=".CoreConnService"></service>
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 
